{% extends 'base.html.twig' %}

{% block main %}
    <h3>Your Purchase was successful</h3>
    <h3>Expect phone call soon for details about the arrival</h3>
{% endblock %}

{% block title %}
    Purchase Successful
{% endblock %}

