{% extends 'base.html.twig' %}

{% block title %}
    Card has expired.
{% endblock %}

{% block main %}
    <h2>Your credit card has expired.</h2>
    <h2>Renew your current or use other</h2>
{% endblock %}

