{% extends 'base.html.twig' %}

{% block title %}
    Invalid Card Date Format
{% endblock %}

{% block main %}
    <h2>Invalid card valid through format</h2>
    <h2>Valid Example: 09/2030</h2>
{% endblock %}

