{% extends 'base.html.twig' %}

{% block title %}
    Invalid Card Number Format
{% endblock %}

{% block main %}
    <h2>Invalid Card Number</h2>
    <h2>Valid example: 0259 4712 5860 7539</h2>
{% endblock %}

