{% extends 'base.html.twig' %}

{% block title %}
    Invalid Username
{% endblock %}

{% block main %}
    <h2>Invalid Username</h2>
    <h2>Username can contain only alphanumeric symbols and underscore and has length between 3 and 30 symbols.</h2>
{% endblock %}

