{% extends 'base.html.twig' %}

{% block title %}
    Invalid Password
{% endblock %}

{% block main %}
    <h2>Invalid Password</h2>
    <h2>Password length should be between 6 and 30 symbols and has to contain at least one digit, uppercase and lowercase letter.</h2>
{% endblock %}

