{% extends 'base.html.twig' %}

{% block title %}
    Invalid quantity
{% endblock %}

{% block main %}
    <h2>Invalid Quantity</h2>
    <h2>Quantity can be a positive whole number that is 1 or more</h2>
{% endblock %}

