{% extends 'base.html.twig' %}

{% block title %}
    Not enough quantity in stock
{% endblock %}

{% block main %}
    <h2>Not enough products in stock</h2>
    <h2>Your quantity demand is more than the available in stock</h2>
{% endblock %}

