{% extends 'base.html.twig' %}

{% block title %}
    Demand too high quantity
{% endblock %}

{% block main %}
    <h2>A product from your cart available quantity's is less than your demand.</h2>
{% endblock %}

