section.details {
    width: 90%;
    max-width: 900px;
    margin: 20px auto;
}

div.article-image-details {
    margin: 0 auto;
}

.heading {
    margin: 0 auto;
    text-align: center;
}

div.article-image-details img {
    width: 100%;
    height: auto;
}

p.content {
    text-align: justify;
}

textarea {
    height: 70px;
}

form {
    margin: 10px 0;
    width: 100%;
    max-width: none;
}

#rateUser {
    position: relative;
    left: -10px;
}

.comment .heading {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.jq-ry-container[readonly=readonly] {
    position: relative;
    bottom: -5px;
    margin: 0 5px;
}

.comment p {
    font-size: 20px;
}

section.details > h2 {
    margin: 20px 0;
}

.info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#average {
    position: relative;
    top: -5px;
    left: -3px;
}

footer .wrapper > h2 {
    margin-top: 25px;
}

footer {
    max-width: 900px;
}

@media screen and (min-width: 1200px) {
    footer .wrapper img {
        width: 180px;
    }
}

section.tags {
    display: flex;
    flex-direction: row;
    align-items: left;
    justify-content: left;
    flex-wrap: wrap;
}

section.tags .tag {
    border: 1px solid #cecece;
    border-radius: 20px;
    text-transform: capitalize;
    padding:8px 17px;
    margin: 5px 5px;
}

.tag p {
    margin-bottom: 0;
    position: relative;
    top: -2px;
}

.content-overload {
    color:red;
    display:none;
}
