{% extends 'base.html.twig' %}

{% block main %}
    <table>
        <thead>
        <tr>
            <th>Name</th>
        </tr>
        </thead>
        <tbody>
        {% for supplier in suppliers %}
                <tr>
                    <td>{{ supplier.name }}</td>
                </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

