{% extends 'base.html.twig' %}
{% block title %}
    Login
{% endblock %}
{% block main %}
    {% if error %}
        <div></div>
        <div class="alert alert-danger" role="alert">
            <strong>Error!</strong> {{ error.messageKey|trans(error.messageData, 'security') }}
        </div>
    {% endif %}


    <form action="{{ path('login')}}" method="post">
        <div class="form-group row">
        <label for="username">Username:</label>
        <input type="text" id="username" name="_username" class="form-control" value="{{ username  }}"/>

        <label for="password">Password:</label>
        <input type="password" id="password" name="_password" class="form-control"/>

        <input type="hidden" name="_csrf_token"
               value="{{ csrf_token('authenticate') }}"
        >

        <button type="submit" class="btn btn-primary">login</button>
        </div>
    </form>
{% endblock %}

