img {
    width: 100%;
    height: auto;
}

form {
    max-width: 700px;
    margin: 10px auto;
}

a:hover {
    cursor: pointer !important;
}

button.addToWishlist {
    background: #ff0032;
    color: white;
    font-weight: bold;
    font-size: 22px;
    border:none;
    padding: 5px;
    width: 250px;
    margin-left: 15px;
    margin-top: 15px;
}