.advert, .advert-small {
    border: 2px solid black;
    width: 265px;
    transition: all .2s ease-in-out;
}

.advert {
    height: 400px;
}

.advert-small {
    height: 350px;
}

.advert img, .advert-small img {
    width: 180px;
    height: 180px;
}

.description {
    width: 220px;
    margin: 0 auto;
    text-align: justify;
}

.price {
    text-align: center;
}

.viewDetails, .contactSeller, .inStock, .outOfStock, .editCamera, .deleteCamera {
    text-align: center;
    width: 110px;
    height: 30px;
    border: 1px solid white;
    border-radius: 5px;
    margin: 0 10px;
    color: white !important;
}

.viewDetails {
    background: rgba(0, 0, 200, 0.9);
}

.contactSeller, .editCamera {
    background: rgba(176, 0, 255, 0.9)
}

.deleteCamera {
    background: rgba(150, 0, 0, 0.9);
}

.centerInsideAd {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 15px;
}

.centerAllAds {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.centerInsideAd * {
    margin: 7px auto;
}

.actions * {
    margin: 7px 7px;
}

.actions {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.inStock {
    background: rgba(0, 200, 0, 0.9);
    margin: 10px;
}

.outOfStock {
    background: rgba(255, 0, 0, 0.9);
    margin: 10px;
}

.deleteCamera {
    margin-top: 10px;
}

.advert:hover, .advert-small:hover {
    position: relative;
    transform: scale(1.1, 1.1);
}

.viewDetails:hover, .contactSeller:hover, .editCamera:hover, .deleteCamera:hover {
    background: red;
    cursor: pointer;
}

