.advert {
    border: 2px solid black;
    width: 250px;
    height: 400px;
    transition: all .2s ease-in-out;
}

.advert img {
    width: 180px;
    height: 180px;
}

.description {
    width: 220px;
    margin: 0 auto;
    text-align: justify;
}

.price {
    text-align: center;
}

.viewDetails, .buyNow, .inStock, .outOfStock, .editCamera, .deleteCamera {
    text-align: center;
    width: 100px;
    height: 30px;
    border: 1px solid white;
    border-radius: 5px;
    margin: 0 10px;
    color: white !important;
}

.viewDetails {
    background: rgba(0, 0, 200, 0.9);
}

.buyNow, .editCamera {
    background: rgba(176, 0, 255, 0.9)
}

.deleteCamera {
    background: rgba(150, 0, 0, 0.9);
}

.centerInsideAd {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 15px;
}

.centerAllAds {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.actions {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.inStock {
    background: rgba(0, 200, 0, 0.9);
    margin: 10px;
}

.outOfStock {
    background: rgba(255, 0, 0, 0.9);
    margin: 10px;
}

.deleteCamera {
    margin-top: 10px;
}

.advert:hover {
    position: relative;
    transform: scale(1.1, 1.1);
}

.viewDetails:hover, .buyNow:hover, .editCamera:hover, .deleteCamera:hover {
    background: red;
    cursor: pointer;
}

.grow:hover {
    transform: scale(1.1);
}