form {
    width: 400px;
    margin: 20px auto;
}

button[type="submit"] {
    margin-top:10px;
}

img.viewDetails {
    width: 300px;
    height: 300px;
}

a:hover {
    text-decoration: none !important;
}

footer {
    color: white;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

label.required:after {
    content:" *";
    color:red;
}

.errorMsg {
    font-size: 14px;
    color: red;
}

img.viewDetails {
    background-color: white;
    width: 200px;
    height:200px;
}

#contactInDetails {
    margin-left: 10px;
}

html {
    min-height: 110%;
}

#searchByMake {
    display: inline-block;
    width: 325px;
    position: relative;
    bottom: -2px;
}