{% extends 'base.html.twig' %}

{% block main %}
    <table>
        <thead>
        <tr>
            <td>Name</td>
            <td>Price</td>
        </tr>
        </thead>
        <tbody>
        {% for part in parts %}
            <tr>
                <td>{{ part.name }}</td>
                <td>{{ part.price }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

