{% extends 'base.html.twig' %}
{% block title %}
    Register
{% endblock %}
{% block main %}
    {% if usernameTaken %}
        <div class="alert alert-danger" role="alert">
            <strong>Error!</strong> Username {{ username }} already taken.
        </div>
    {% endif %}
    <form name="app_bundle_user_type" method="post">
        <div id="app_bundle_user_type">
            <div class="form-group">
                <label for="app_bundle_user_type_username" class="required">Username</label>
                <input type="text" class="form-control" id="app_bundle_user_type_username"
                       name="app_bundle_user_type[username]" required="required">
                <div class="errorMsg" id="invalidUsername"></div>
            </div>

            <div class="form-group">
                <label for="app_bundle_user_type_password_first" class="required">Password</label>
                <input type="password" class="form-control" id="app_bundle_user_type_password_first"
                       name="app_bundle_user_type[password][first]" required="required">
                <div class="errorMsg" id="invalidPassword"></div>
            </div>

            <div class="form-group">
                <label for="app_bundle_user_type_password_second" class="required">Repeat Password</label>
                <input type="password" class="form-control" id="app_bundle_user_type_password_second"
                       name="app_bundle_user_type[password][second]" required="required">
                <div class="errorMsg" id="invalidConfrimPassword"></div>
            </div>
            {{ form_row(form._token) }}
            <div class="form-group">
                <button type="submit" class="btn btn-primary" id="app_bundle_user_type_submit"
                        name="app_bundle_user_type[submit]">Submit
                </button>
            </div>
        </div>
    </form>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/registerFormValidation.js') }}"></script>
{% endblock %}